include README.md
include LICENSE
include requirements.txt
include pytest.ini
include run_tests.py
include run.py
recursive-include src *.py
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
